{
  "local_staging_path": "~/.archivalock/jobs",
  "meta_database": {
    "adapter": "sqlite3",
    "database": "~/.archivalock/jobs/metadata.sqlite3"
  },
  "development": {
    "ssh_env": "[[ -s $HOME/.rvm/scripts/rvm ]] && source $HOME/.rvm/scripts/rvm ; PATH=$PATH:$HOME/.rvm/bin ; rvm use ree-1.8.7-2011.03@archivalock",
    "ruby_noise_regex": "DEPRECATION\\ WARNING|with gemset archivalock",
    "project_path": "/Volumes/PersonalDev/archivalock",
    "remote_staging_path": "~/.archivalock/jobs/_dev-remote-staging",
    "host": "localhost",
    "user": "cjharrelson",
    "worker_count": 2,
    "execute_workers": false
  },
  "production": {
    "ssh_env": "",
    "ruby_noise_regex": "DEPRECATION WARNING|GIT_DISCOVERY_ACROSS_FILESYSTEM|fatal: Not a git repository",
    "project_path": "/data/archivalock/current",
    "remote_staging_path": "/data/archivalock/shared/tmp",
    "host": "ec2-184-73-165-246.compute-1.amazonaws.com",
    "user": "deploy",
    "worker_count": 4,
    "execute_workers": false
  }
}
